
/**
    Developed by LG
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&family=Roboto:wght@100;300;400;700&display=swap');


/** Document **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-blue{
    background-color:rgb(0 174 255) !important ;
}

.bg-capa{
    background:  rgb(0 174 255) 100%;
    background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, rgb(0 174 255) 100%);
    background: -moz-linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, rgb(0 174 255) 100%);
    background: -webkit-linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, rgb(0 174 255) 100%);
    border-radius: 40px 0 40px 0;
}

.grif{
    font-weight: bold;
    padding: 2px;
    background-color: #f2f1f14d;
    border-radius: 2px;
}


/** Header **/

.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    width: 100%;
    background-color: rgb(0 174 255);
    z-index: 999;
}

.nav-links{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links li{
    padding: 10px;
    margin-left: 5px;
}

.nav-links li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    position: relative;
}

.bar-links{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/** Main **/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

.title{
    font-size: 50px;
    font-weight: 500;
}

/** Inputs, Grid e Links*/

a.link-none{
    text-decoration: none;
    color: black;
}

.text-white{
    color: #ffffff;
}

.text-gray{
    color: #d8cfcf;
}

.bg-white{
    background-color: #ffffff;
}

.bg-gray{
    background-color: #eeeeee;
}

.bg-dark{
    background-color: #000000!important;
}

.text-mark{
    color: #47b9ef;
}

.text-comment{
    color:greenyellow;
}

.text-info{
    color: #d4d325;
}

.text-blue{
    color: #ffffff!important;
    font-weight: bold;
}

.text-primary{
    color: #3e8bba;
}

.text-code{
   color: #43ff00;
}

.mt-10{
    margin-top: 10px;
}

.mt-separate-top{
    margin-top: calc(45.33px + 20px);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.a-custom{
    text-decoration: none;
    padding: 10px;
    background-color: #000000;
    border-radius: 3px;
    color: white;
}

.grid-item{
    background-color: #838285;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    /* box-shadow: 0 0 30px 10px rgba(127, 126, 126, 0.9); */
    box-shadow: 0 0 30px 10px rgb(255 255 255 / 90%);

    -webkit-transition: background 0.9s linear;
    -moz-transition: background 0.9s linear;
    -o-transition: background 0.9s linear;
    transition: background 0.9s linear;
}

.grid-item:hover{
    background: radial-gradient(white, #e7eaf1, #838285);
    color: #000000;
}

@keyframes changeLight {
    to{
        background-color: #838285;
    }

    from{
        background: radial-gradient(white, #e7eaf1, #838285);
    }
}


.grid-item:nth-child(1){ 
    animation: changeLight 3s infinite;
    animation-delay: 10s;
}

.grid-item:nth-child(2){ 
    animation: changeLight 3s infinite;
    animation-delay: 14s;
}

.grid-item:nth-child(3){ 
    animation: changeLight 3s infinite;
    animation-delay: 8s;
}

.grid-item:nth-child(4){ 
    animation: changeLight 3s infinite;
    animation-delay: 12s;
}

.terminal{
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    padding: 40px 10px 10px 10px;
    border-radius: 5px;
    font-family: monospace;
    margin: 20px;
    position: relative;
}

.terminal::before{
    content: '🔴🟠⚪️';
    border-radius: 5px 5px 0 0;
    background-color: #333333;
    display: block;
    padding: 2px;    
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 5px);
}

/** Utils */
.d-flex-row{
    display: flex;
    flex-direction: row;
}

.d-flex-row-reverse{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.vh-100{
    height: 100vh;
}

.vh-calc{
    height: calc(100vh - 45.2px);
}

.h-50{
    height: 50%;
}

.h-70{
    height: 70%;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.w-85{
    width: 85%;
}

.w-75{
    width: 75%;
}

.p-10{
    padding: 10px;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.text-start{
    text-align: start;
}

.text-justify{
    text-align: justify;
}

.grow-1{
    flex-grow: 1;
}

.icon{
    width: 30px;
    height: 30px;
}

.shadow{
     box-shadow: 0 0 30px 10px rgba(127, 126, 126, 0.9);
}

.wrap{
    flex-wrap: wrap;
}

.text-red{
    color: #ff6b6b;
}

.font-30{
    font-size: 25px;
}

.font-20{
    font-size: 20px;
}

.font-16{
    font-size: 16px;
}

.font-35{
    font-size: 30px;
}

.font-14{
    font-size: 14px;
}

/** Medias Queries*/
@media screen and (max-width: 650px) {
    .nav-links{
        display: none;       
    }

    header{
        height: 45.33px;
    }

    .items{
        justify-content: center;
        align-items: center;
    }

    .title{
        font-size: 30px;
    }

    div figure img{
        display: none;
    }
}

/** avatar **/


.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.avatar img{
   border-radius: 150px;
   object-fit: contain;
   width: 150px;
   height: 150px;
   border-radius: 150px;
}

.border-100{
    border-radius: 100%;
}

.card{
    margin: 3px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    width: 243px;
}

a.card-link{
    text-decoration: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
    justify-content: center;
    background-color: #00aeff;
    display: flex;
    width: 100%;   
    cursor: pointer; 
}

.card-image{
    width: 50px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-header div:first-child{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.card-header .icon{
    background-color: #eeeeee;
    border-radius: 9px;    
    font-size: 25px;
    justify-content: center;   
    padding: 17px;
}

.card-header .card-title{
    font-size: 16px;
    font-weight: bold;
}

.card-header .card-subtitle{
    font-size: 12px;
    font-weight: 300;
}

.card-header .card-tag{
    padding: 5px;
    border-radius: 5px;
    background-color: #fffbec;
    color: #feda67;
    font-size: 12px;
    font-weight: bold;
}

.card-body{
    padding: 10px;
    font-size: 20px;
    margin: 10px 0;
}

.card .card-info{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
}

.grid{
    width: 97vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 253px);
    justify-content: center;
}

.card-section{
    margin-left: 90px;
}
